dashboard/node-red-app.json
[{"id":"bbb20a8c.f9f128","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"14f7e527.12c27b","type":"serial in","z":"bbb20a8c.f9f128","name":"COM2","serial":"34818dec.8505f2","x":130,"y":220,"wires":[["1dd8b5e.2e8914a"]]},{"id":"1dd8b5e.2e8914a","type":"function","z":"bbb20a8c.f9f128","name":"","func":"var out = msg.payload.split(';')\n\nvar pv = parseFloat(out[0])\nvar potencia = parseFloat(out[1])\n\nvar msg1 = { payload: pv }\nvar msg2 = { payload: potencia }\n\nmsg1.topic = \"Line1\"\n\nreturn [msg1, msg2]","outputs":2,"noerr":0,"initialize":"","finalize":"","x":320,"y":220,"wires":[["8e36a0ec.a51a6","d1646d47.14373","c93cc50f.e20a58"],["9e51dd65.26aed"]]},{"id":"2deec072.5b5a7","type":"ui_gauge","z":"bbb20a8c.f9f128","name":"","group":"275ce729.329468","order":2,"width":0,"height":0,"gtype":"gage","title":"Erro","label":"cm","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":40,"wires":[]},{"id":"9e51dd65.26aed","type":"ui_gauge","z":"bbb20a8c.f9f128","name":"","group":"275ce729.329468","order":3,"width":0,"height":0,"gtype":"gage","title":"Potência","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#005fb3","#26e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":240,"wires":[]},{"id":"debe60da.238a","type":"ui_button","z":"bbb20a8c.f9f128","name":"","group":"2cadd1c8.57b01e","order":5,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"str","topic":"","x":130,"y":480,"wires":[["5031ca22.6c7de4","14c41d44.ef7793"]]},{"id":"5031ca22.6c7de4","type":"ui_numeric","z":"bbb20a8c.f9f128","name":"","label":"SetPoint","tooltip":"","group":"2cadd1c8.57b01e","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"20","step":1,"x":300,"y":480,"wires":[["40f4d15.fd3223"]]},{"id":"40f4d15.fd3223","type":"function","z":"bbb20a8c.f9f128","name":"","func":"global.set(\"setpoint\", msg.payload)\n\nvar newMsg = {payload: msg.payload}\n\nnewMsg.topic = \"Line2\"\n\nreturn newMsg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":480,"wires":[["fc203950.4108b8"]]},{"id":"fc203950.4108b8","type":"serial out","z":"bbb20a8c.f9f128","name":"COM2","serial":"34818dec.8505f2","x":750,"y":480,"wires":[]},{"id":"8e36a0ec.a51a6","type":"ui_chart","z":"bbb20a8c.f9f128","name":"","group":"2cadd1c8.57b01e","order":2,"width":"0","height":"0","label":"Nivel","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1e30b3","#aec7e8","#ff7f0e","#2c49a0","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":730,"y":100,"wires":[[]]},{"id":"d1646d47.14373","type":"ui_digital_display","z":"bbb20a8c.f9f128","name":"PV","group":"2cadd1c8.57b01e","order":3,"width":0,"height":0,"digits":5,"decimals":1,"x":730,"y":180,"wires":[]},{"id":"14c41d44.ef7793","type":"function","z":"bbb20a8c.f9f128","name":"","func":"msg.payload = []\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":380,"wires":[["8e36a0ec.a51a6"]]},{"id":"c93cc50f.e20a58","type":"function","z":"bbb20a8c.f9f128","name":"","func":"var pv = msg.payload\n\nvar error = pv - global.get(\"setpoint\")\n\nreturn { payload: error.toFixed(2) }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":100,"wires":[["2deec072.5b5a7"]]},{"id":"34818dec.8505f2","type":"serial-port","serialport":"COM2","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"275ce729.329468","type":"ui_group","name":"Medidas","tab":"3caad86f.7b2c08","order":2,"disp":true,"width":"6","collapse":false},{"id":"2cadd1c8.57b01e","type":"ui_group","name":"Controle","tab":"3caad86f.7b2c08","order":1,"disp":true,"width":"6","collapse":false},{"id":"3caad86f.7b2c08","type":"ui_tab","name":"Planta de Nível","icon":"dashboard","disabled":false,"hidden":false}]